<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./parts/navbar.ejs') %>

    <form class="addproduct" action="/addproduct" method="post">
        <h2>add new product</h2>
      <div>
        <label for="">title</label>
        <input type="text" name="title" id="" />
      </div>
      <div>
        <label for="">price</label>
        <input type="number" name="price" id="" />
      </div>
    <div>
        <label for="">category</label>
        <select name="category" id="">
            <option value="electronics">electronics</option>
            <option value="men's clothing">men's clothing</option>
            <option value="women's clothing">women's clothing</option>
            <option value="jewelery">jewelery</option>
          </select>
    </div>
    <div>
        <label for="">description</label>
       <textarea name="description" id=""></textarea>
      </div>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
