<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./parts/navbar.ejs') %>
    <form class="addproduct" action="/update" method="post">
        <h2>add new product</h2>
      <div>
        <label for="">title</label>
        <input type="text" name="<%= product.title %>" id="" />
      </div>
      <div>
        <label for="">price</label>
        <input type="number" name="product.price" id="" />
      </div>
    <div>
        <label for="">category</label>
        <select name="product.category" id="">
            <option value="electronics">electronics</option>
            <option value="men's clothing">men's clothing</option>
            <option value="women's clothing">women's clothing</option>
            <option value="jewelery">jewelery</option>
          </select>
    </div>
    <div>
        <label for="">description</label>
       <textarea name="product.description" id=""></textarea>
      </div>
      <button type="submit">update</button>
    </form>

</body>
</html>